<h3> New Publication path </h3>
<%= form_for @publications, url: admin_publications_path do |f| %>
	<div class="form-group">
		<label> Title </label>
		<%= f.text_field :title,class: "form-control"
		%>
	</div>
	<div class="form-group">
		<label>File URL </label>
		<%= f.text_field :file_url,class: 'form-control' %>
	</div>
	<div class="form-group">
		<%= f.submit "update Publication",class: 'btn btn-primary' %>
	</div>
<% end %>